.card-text{
    margin-bottom: 0px;
}
.card{
    margin-top: 25px;
    margin-bottom: 25px;
}
.price{
    color: #28A745;
}
.card-footer{
    text-align: end;
}
.footer{
    text-align: center;
    margin: 15px;
    margin-bottom: 15px;
}